@model PagedList.IPagedList<Model.EF.Car>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agency/Views/Shared/_Layout.cshtml";
}
@section header{
    Quản lý xe
}
<div class="container-fluid">
    @using (Html.BeginForm("Index", "Car", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                <form class=" d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control border-5 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
            <div style="margin-left: 650px">
                <a href="/Agency/Car/Create" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Thêm mới</a>
            </div>
        </div>
        <hr>

    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <a href="/Agency/Car/ViewDetail/@item.ID">
                                <div class="image">
                                    <img src="@item.Image" style="width:250px;height:250px" alt="Top Destinations">
                                </div>
                            </a>
                            <div class="heading">
                                <div class="raty-wrapper sp-2 mb-5">
                                    <div class="star-rating-12px" data-rating-score="4"></div>
                                </div>
                                <h4>@item.Name</h4>
                                <p><i class="fa fa-map-marker text-primary"></i> @item.ProvinceId</p>
                            </div>
                            <div class="content">
                                <div class="row gap-5">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="label bg-green">
                                            @item.Status
                                        </div>
                                        <div class="hover-underline">Loại xe: @item.Type chỗ</div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="hover-underline">Loại xe: @item.Type chỗ</div>
                                        <p class="price"><span class="fa fa-tag "> Giá chỉ từ: </span><span class="number">@item.Price</span> / ngày</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="btn btn-outline-warning">
                            <a href="/Agency/Car/Edit/@item.ID">Sửa</a>
                            |
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa bản ghi này?",
                           OnComplete = "$('#row_" + item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.SearchString }))

